body{
    margin: 0;
}

.contain{
    margin: 3%;
    width: 94%;
}

.flex-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.box{
    width: 300px;
    display: inline-block;
}

p{
    font-family: sans-serif;
    font-size: 20px;
    color: darkslategray;
    padding: 20px 0px;
}

.red{
    background-color: firebrick;
}

.blue{
    background-color: cornflowerblue;
}

.grey{
    background-color: #333;
}

.float-left{
    float:left;
}

.one-third{
    width: 33%;
}

.two-third{
    width: 67%;
}

.tall{
    margin-bottom: 30px;
    height: 350px;
}

.short{
    height: 200px;
}

.relative{
    position: relative;
}

.centered{
    width: 70%;
    position: absolute;
    left: 15%;
}